<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <title><%= content_for(:title) || "insAIght Hub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# SEO and Open Graph meta tags %>
    <%= meta_tags %>

    <link rel="icon" href="/icon.png" type="image/png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="bg-white">
    <%= yield %>
  </body>
</html>
